.services__offer__content {
  padding: 3rem 5%;
  display: flex;
  background: url('/teste/public/assets/images/background-2.png') no-repeat
    center center;
  background-size: cover;
  position: relative;
}
.services__offer__content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(3, 3, 3, 0.925),
    rgba(0, 0, 0, 0.6) 100%
  );
}
/* content left text */
.services__offer__content > .text_left__services__offer {
  width: 50%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
/* title */
.text_left__services__offer > .title__services__offer {
  font-size: 2.3em;
  font-family: var(--font-Source);
  font-weight: 400;
  padding-bottom: 1.5rem;
}
/* text title destaque */
.title__services__offer > .text__bold__services__off {
  font-weight: 700;
  color: var(--cor-secundaria);
}

/* descrições */
.text_left__services__offer > .text__services__offer {
  font-family: var(--font-Source);
  font-size: 1em;
  font-weight: 400;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 1rem;
}
.text_left__services__offer > .text__services__offer > i {
  font-size: 1.3rem;
  color: var(--cor-secundaria);
}
/* descrição chamada para ação */

.text_left__services__offer > .text__services__offer_action {
  font-family: var(--font-Source);
  font-size: 1em;
  font-weight: 300;
  padding: 2rem 1.5rem;
}
/* text destaque chamanda*/
.text__services__offer_action > .text__bold__services__offer_action {
  font-size: 1.2rem;
  font-weight: 600;
}

/* btn */
.text_left__services__offer > .btn_services_contatar {
  background-color: transparent;
  padding: 1.2rem 2rem;
  border-radius: 5px;
  border: 1px solid #d67a00;
  /* font */
  font-family: var(--font-Prompt);
  font-size: 1.1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  transition: 0.3s;
}
.text_left__services__offer > .btn_services_contatar:hover {
  background-color: #944801;
  border: 1px solid #ffffff;
}

@media screen and (max-width: 916px) {
  .services__offer__content {
    flex-direction: column;
  }

  /* content left text */
  .services__offer__content > .text_left__services__offer {
    width: 100%;
    text-align: center;
  }

  /* descrições */
  .text_left__services__offer > .text__services__offer {
    padding-left: 0;
    justify-content: center;
  }
}
